.card {
    flex-direction: row;
    margin: 4px;
    width: 100%;
}

.card img {
    width: 27%;
    margin: 5px;
}

.contain{
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px;
    text-align: left;
    background-color: rgba(167, 209, 255, 0.2);
}

.cart-title{
    display: inline-block;
}

.right{
    position: absolute;
    right: 30px;
}

.info{
    margin: 4px;
}

.card-title{
    margin-bottom: 2px;
}

.card-text{
    margin: 2px;
}

.btn{
    width: 50%;
}

.form-select{
    background-color: rgba(167, 209, 255, 0.2);
    border: 0;
}
