<div class="contain" id="contain">
    <h4 class="cart-title">Your Cart Items are Here</h4>
    <h6 class="cart-title right badge rounded-pill bg-primary">{{myCartItems.length}}</h6>
    <hr>
    <div class="card" *ngFor="let item of myCartItems; let i = index">
        <img [src]="item.itemImg" class="card-img-top" alt={{item.itemName}}>
        <div class="card-body">
          <h5 class="card-title">Name: {{item.itemName}}</h5>
          <p class="card-text">Price: {{item.itemPrice}}</p>
          <p class="card-text">Brand: {{item.itemBrand}}</p>
          <button class="btn btn-danger" (click)="removeFromCart(i)">Remove</button>
        </div>
    </div>
    <hr>
    <form class="form-group">
        <select name="voucher" id="voucher" class="form-select" (change)="onChangeVoucher($event)">
            <option value="voucher" [selected]="true">Have a Voucher?</option>
        </select>
    </form>
    <hr>
    <div class="info">
        <p><span class="left">Subtotal:</span> <span class="right">Rs. {{subtotalCost}}</span></p>
        <p><span class="left">Shipping:</span> <span class="right">{{shipping=="standred" || shipping==""? "Free" : "Rs "+shippingCost}}</span></p>
        <hr>
        <h5><span class="left">Total:</span><span class="right">Rs. {{totalCost}}</span></h5>
        <hr>
        <button class="btn btn-success " (click)="paymentInProcess? cancelPayment() : placeOrder()" >
            {{paymentInProcess? "Cancel" : "Place Order"}}</button>
    </div>
</div>